### **kwagrs

In [1]:
def  key_var_len_args(**kwargs):
    print(type(kwargs))
    print(kwargs)

In [2]:
key_var_len_args(name  = 'Prajkta'  , age  = 25  , Education =  'ME')

<class 'dict'>
{'name': 'Prajkta', 'age': 25, 'Education': 'ME'}

In [3]:
info  =  {'Empid' : [1 ,2,3] ,  'Emp_name' : ['Suresh' ,  'Sarthak' ,  'Smita']}

##### Dictionary unpacking

In [4]:
key_var_len_args(info)

TypeError: key_var_len_args() takes 0 positional arguments but 1 was given

In [5]:
key_var_len_args(**info)

<class 'dict'>
{'Empid': [1, 2, 3], 'Emp_name': ['Suresh', 'Sarthak', 'Smita']}

In [6]:
info.items()

dict_items([('Empid', [1, 2, 3]), ('Emp_name', ['Suresh', 'Sarthak', 'Smita'])])

In [ ]:
## output will  be  none  
# because retrun and update used same time
def  form_fill(**kwargs):
    info =  {'Name' : None ,
             'Mail' : None , 
             'Age' : None ,  
             "Adress" : None}
    return  info.update(kwargs)

In [22]:
print(form_fill(**info))

None

In [47]:
def  form_fill(**kwargs):
    info =  {'Name' : None ,
             'Mail' : None , 
             'Age' : None ,  
             "Adress" : None}
    info.update(kwargs)
    return info

In [48]:
form_fill(name = 'Sunita' , Mail = 'Sunita@gmail.com' , age  =  34 )

{'Name': None,
 'Mail': 'Sunita@gmail.com',
 'Age': None,
 'Adress': None,
 'name': 'Sunita',
 'age': 34}

In [26]:
form_fill(name = 'Sunita' , Mail = 'Sunita@gmail.com' , age  =  34 , Gender  =  'Female')

{'Name': None,
 'Mail': 'Sunita@gmail.com',
 'Age': None,
 'Adress': None,
 'name': 'Sunita',
 'age': 34,
 'Gender': 'Female'}

In [4]:
info  =  {'Empid' : [1 ,2,3] ,  'Emp_name' : ['Suresh' ,  'Sarthak' ,  'Smita']}

In [5]:
info1 = {"Edu" : 'ME' , 'Gender' : 'Female'}

In [6]:
info.update({"Edu" : 'ME' , 'Gender' : 'Female'} )

In [7]:
info

{'Empid': [1, 2, 3],
 'Emp_name': ['Suresh', 'Sarthak', 'Smita'],
 'Edu': 'ME',
 'Gender': 'Female'}

In [ ]:
## output will  be  none  
# because retrun and update used same time
def  form_fill(**kwargs):
    info =  {'Name' : None ,
             'Mail' : None , 
             'Age' : None ,  
             "Adress" : None}
    return  info.update(kwargs)

In [9]:
a = info.update({"Edu" : 'ME' , 'Gender' : 'Female'} )

In [10]:
print(a)

None

In [31]:
form_fill(**info)

In [2]:
form_fill(name = 'Prajkta' ,  age  =  25)

In [27]:
info

{'Empid': [1, 2, 3],
 'Emp_name': ['Suresh', 'Sarthak', 'Smita'],
 'Edu': 'ME',
 'Gender': 'Female'}

In [28]:
info['Empid']

[1, 2, 3]

In [29]:
info.get('Empid')

[1, 2, 3]

In [32]:
info['empid']

KeyError: 'empid'

In [31]:
print(info.get('empid'))

None

#### Final  function

In [51]:
def  form_fill(**kwargs):
    info =  {'Name' : None ,
             'Mail' : None , 
             'Age' : None ,  
             "Adress" : None}
    for  key  , value  in kwargs.items():
        if key.title() in info.keys():
            info[key.title()] = value
    return info

In [52]:
form_fill(name  =  'Sunita' ,  aGe =  23)

{'Name': 'Sunita', 'Mail': None, 'Age': 23, 'Adress': None}

In [54]:
info

{'Empid': [1, 2, 3],
 'Emp_name': ['Suresh', 'Sarthak', 'Smita'],
 'Edu': 'ME',
 'Gender': 'Female'}

In [55]:
form_fill(**info)

{'Name': None, 'Mail': None, 'Age': None, 'Adress': None}

In [53]:
'sunita'.title()

'Sunita'

In [49]:
'sunita Pawar'.title()

'Sunita Pawar'

In [50]:
'sunita Pawar'.capitalize()

'Sunita pawar'

#### Create  total bill for Restuarant

In [73]:
menu  =  {"Pizza" : 299 , "Sandwich" :  100  ,  "Burgur" : 60}

In [ ]:
food  product  ,  quantity 
price  per food  =  price*quantity

In [58]:
print(menu.get('Pizza'))

None

In [ ]:
print(menu.get('pizza'))
299*2

299

598

In [61]:
menu

{'pizza': 299, 'Sandwich': 100, 'Burgur': 60}

In [75]:
def  hotel_bill(**food_quantity):
    total_bill  =  0
    for  food  ,  quantity in food_quantity.items() :
        if  menu.get(food.capitalize()) is  not  None:
            price  =  menu.get(food.capitalize())
            Subtotal =  price*quantity
            print(f"Subtotal  of {food} is  {Subtotal}")
            total_bill  =  Subtotal  + total_bill
    return f' total_bill -->{total_bill}'

In [76]:
hotel_bill(pizza = 2)

Subtotal  of pizza is  598

' total_bill -->598'

In [77]:
hotel_bill(pizza = 2 ,  Sandwich  =  3)

Subtotal  of pizza is  598
Subtotal  of Sandwich is  300

' total_bill -->898'

In [78]:
hotel_bill(pizza = 2 ,  Sandwich  =  3 , Samosa  =  3)

Subtotal  of pizza is  598
Subtotal  of Sandwich is  300

' total_bill -->898'

In [79]:
hotel_bill(Pizza = 2 ,  Sandwich  =  3 , Samosa  =  3 )

Subtotal  of Pizza is  598
Subtotal  of Sandwich is  300

' total_bill -->898'

In [80]:
hotel_bill(PiZZA = 2 ,  Sandwich  =  3 , Samosa  =  3 )

Subtotal  of PiZZA is  598
Subtotal  of Sandwich is  300

' total_bill -->898'

In [87]:
money  =  {'500' : 3  ,  '100' :  50 ,  '20' : 4}
money.items()

dict_items([('500', 3), ('100', 50), ('20', 4)])

In [88]:
def Double_money(**Money):
    total_Amount  =  0
    for  Notes  ,  Quantity in  Money.items():
        total_Amount  =  (total_Amount+int(Notes)*Quantity)*2
    return  total_Amount

In [91]:
Double_money('100' = 5  ,  '10' = 5  , '5'  =  6)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1799090265.py, line 1)

In [90]:
Double_money(**money)

32160