### polymorphism in  operators

In [ ]:
12+45    # int

57

In [ ]:
34.45 +45.56   # float

80.01

In [ ]:
'data' + ' ' + 'science' # string

'data science'

In [4]:
[12,3,5,6] + [3,5.6]

[12, 3, 5, 6, 3, 5.6]

In [5]:
(12,3,5,6) + (3,5.6)

(12, 3, 5, 6, 3, 5.6)

-    # *

In [6]:
12*34

408

In [7]:
[1,3,5]*3

[1, 3, 5, 1, 3, 5, 1, 3, 5]

In [8]:
'python'*4

'pythonpythonpythonpython'

In [9]:
s  =  'python'
len(s)

6

In [12]:
l  =  [2,4,6]
len(l)

3

In [13]:
t  =  (3 ,5,6)
len(t)

3

In [14]:
s1  =  {2,4,6,6,6}
len(s1)

3

In [15]:
d  =  {'name' :  ['sunita' ,  'neeta' , 'geet'] 
, 'age' :[12, 23, 32]}

In [16]:
len(d)

2

In [17]:
import pandas as  pd

In [18]:
df  =   pd.DataFrame(d)
df

     name  age
0  sunita   12
1   neeta   23
2    geet   32

In [19]:
len(df)

3

## Polymorphism  in class

In [20]:
## create classa with country and  capital  and  langauge

In [26]:
class  India:
    # capital 
    def Capital(self):
        print('Capital  of  india  is  New  Delhi')
    
   # language
    def  Language(self):
        print('Hindi  is  widely spoken  language  in India')


# Frace
class France:
    def Capital(self):
        print("Capital  od France  is  Paris")
    
    def Language(self):
        print('"french is the widely spoken  language in france')


# USA
class  USA:
    def Capital(self):
        print("capital  of  USA is  Washington D.C")


    # Language
    def Language(self):
        print(' English is  the widely spoken  language  in USA ')

In [27]:
I =India()

In [28]:
I.Language()

Hindi  is  widely spoken  language  in India

In [29]:
I.Capital()

Capital  of  india  is  New  Delhi

In [30]:
F  =  France()

In [31]:
F.Capital()

Capital  od France  is  Paris

In [32]:
F.Language()

"french is the widely spoken  language in france

In [34]:
us =  USA()

In [35]:
us.Capital()

capital  of  USA is  Washington D.C

In [36]:
us.Language()

 English is  the widely spoken  language  in USA

## Create class rectange   , Circle 
- Area  ,  Perimeter

In [50]:
# class  for  Rectangle
from dataclasses  import dataclass
@dataclass
class Rectangle:
    # constructor
    s1:int|float
    s2:int|float
    
    # perimeter
    def Perimeter(self):
        P  =  2*(self.s1+self.s2)
        return f"Perimeter of Rectangle {P}"
    
    # area

    def Area(self):
        A =   self.s1*self.s2
        return f"Area of  Rectangle  is  {A}"

In [51]:
r1  = Rectangle(s1  =  23, s2  = 24)

In [52]:
r1.Perimeter()

'Perimeter of Rectangle 94'

In [53]:
r1.Area()

'Area of  Rectangle  is  552'

## Class  Circle

In [54]:
import math
math.pi

3.141592653589793

In [62]:
@dataclass
class  Circle:
    r : int|float


 # method  for permimeter
    def Perimeter(self):
        import math
        P =  2*math.pi*self.r
        return  f"Perimeter of  Circle  is  {P}"

# method Area

    def Area(self):
        A  =  math.pi*self.r**2
        return  f"Area of circle id {A} "

In [63]:
C1  = Circle(2)

In [64]:
C1.Area()

'Area of circle id 12.566370614359172 '

In [65]:
C1.Perimeter()

'Perimeter of  Circle  is  12.566370614359172'

In [66]:
c2  =  Circle(3)

In [67]:
c2.Area()

'Area of circle id 28.274333882308138 '

In [68]:
c2.Perimeter()

'Perimeter of  Circle  is  18.84955592153876'

## Create class  Triangle

In [80]:
@dataclass
class Triangle:
    s1:int|float
    s2:int|float
    s3:int|float

    def Perimeter(self):
        if (self.s1+self.s2>self.s3) and  \
        (self.s2+self.s3 > self.s1) and  \
        (self.s1+self.s3>self.s2):
            P  = self.s1+self.s2+self.s3
            
            return   P
        
    # create method  for  area
    def Area(self):
        if self.Perimeter() is not None:
            s  =  self.Perimeter()/2
            Area=  (s*(s-self.s1)*(s-self.s2)*(s-self.s3))**1/2
            return  f"Area of Triangle  is {Area}"
        else:
            print('Sides do not form triangle')

In [87]:
T1  = Triangle(s1  =  23, s2   =34 , s3  = 45)

In [88]:
T1.s1

23

In [82]:
T1.Area()

'Area of Triangle  is 72828.0'

In [83]:
T1.Perimeter()

102

In [86]:
for i in  [r1  , C1  ,  T1 ]:
    print(i)
    print(i.Area())
    print(i.Perimeter())
    print()
    print('-----------------------')
    print()

Rectangle(s1=23, s2=24)
Area of  Rectangle  is  552
Perimeter of Rectangle 94

-----------------------

Circle(r=2)
Area of circle id 12.566370614359172
Perimeter of  Circle  is  12.566370614359172

-----------------------

Triangle(s1=23, s2=34, s3=45)
Area of Triangle  is 72828.0
102

-----------------------

In [ ]:
# public variable
# private variable - __
#  protected variables - _

In [ ]:
## protected variable

class acount:
    def __init__(self , bal , acc_no):
        self.acc_no  =  acc_no 
        self._bal  =  bal   # protected variable


    # def check balance
    def check_balance(self):
        print(self._bal)

In [95]:
A1  =  acount(bal  = 3000 ,  acc_no  = 123)

In [96]:
A1.acc_no

123

In [98]:
A1.bal

AttributeError: 'acount' object has no attribute 'bal'

In [97]:
A1._bal

3000

In [99]:
A1.check_balance()

3000

In [100]:
# Private variable


class acount1:
    def __init__(self , bal , acc_no):
        self.acc_no  =  acc_no 
        self.__bal  =  bal   # protected variable


    # # def check balance
    # def check_balance(self):
    #     print(self._bal)

In [102]:
a2  =  acount1(bal  = 40000  ,  acc_no  =  234)

In [103]:
a2.acc_no

234

In [104]:
a2.bal

AttributeError: 'acount1' object has no attribute 'bal'

In [ ]:
a2.__bal

In [107]:
a2._acount1__bal

40000

In [108]:
# Private variable


class acount1:
    def __init__(self , bal , acc_no):
        self.acc_no  =  acc_no 
        self.__bal  =  bal   # protected variable


    # def check balance
    def check_balance(self):
        print(self.__bal)

In [109]:
a3  =  acount1(bal  =  50000  ,  acc_no  =  567 )

In [111]:
a3.acc_no

567

In [112]:
a3.check_balance()

50000